* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --primary-color-bg: #f2efed;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    background: var(--primary-color-bg);
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    padding: 18px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    border: 1px solid #373739;
    color: #22201f;
    font-weight: 500;
    letter-spacing: -0.8px;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.section-action {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
}

.section-desc {
    color: #373739;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: -0.4px;
}

.section-heading {
    color: #22201f;
    font-family: Inter;
}

.lv1 {
    font-size: 13.6rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -5.44px;
}

.lv2 {
    font-size: 7.6rem;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -3.04px;
}
.lv3 {
    font-size: 5.8rem;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}
/* Header */

.header {
    padding: 32px 0 8px 0;
    background: var(--primary-color-bg);
    z-index: 1;
    /* background: #ff5b2e; */
}

.header.fixed {
    position: sticky;
    margin: 0 auto;
    top: 0;
}

.logo {
    width: 102px;
    height: 27px;
    object-fit: cover;
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav__header {
    margin: auto;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__link {
    position: relative;
    padding: 8px 14px;
    color: #373739;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.8px;
}

.header__active::before {
    content: "";
    position: absolute;
    width: 38.6%;
    height: 1px;
    bottom: 0;
    left: 14px;
    background: #22201f;
}

.header__menu {
    color: currentColor;
    margin-left: 6px;
}

.header__btn {
    background: #22201f;
    padding: 13px 31px;
    color: #fff;

    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.8px;
}

/* hero */
.hero {
    padding-top: 95px;
    padding-bottom: 99px;
}

.hero__btn {
    display: inline-block;
    width: 351px;
    height: 99px;
}

.hero__heading {
    position: relative;
}

.hero__icon {
    position: absolute;
}

.hero__icon:nth-of-type(1) {
    top: -7px;
    left: -14px;
}

.hero__icon:nth-of-type(2) {
    width: 51px;
    height: 51px;
    top: -20px;
    left: 592px;
}

.hero__icon:nth-of-type(3) {
    height: 24px;
    width: 24px;
    bottom: -12px;
    left: -14px;
}

.hero__icon:nth-of-type(4) {
    top: 200px;
    right: 50px;
}
.hero__row {
    margin-top: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__desc {
    width: 601px;
}

.hero__icon__arrow {
    width: 24px;
    height: 24px;
    display: block;
}

.hero__media {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr;
    column-gap: 30px;
}

.hero__img {
    width: 100%;
}

.hero__img:last-child {
    padding-left: 110px;
}

/* Our-Client */

.Our-Client {
    background: #22201f;
    padding: 100px 0;
}

.Our-Client__inner {
    position: relative;
}

.Our-Client__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Our-Client__heading {
    color: var(--white, #fff);
}

.Our-Client__desc {
    width: 570px;
    color: var(--gray-white, #d6d8d9);
}

.Our-Client__logo__list {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
    row-gap: 86px;
}

.Our-Client__logo__item {
    width: 100%;
}

.Our-Client__icon {
    position: absolute;
}

.Our-Client__icon:nth-of-type(1) {
    top: -40px;
    left: -27px;
}
.Our-Client__icon:nth-of-type(2) {
    top: -46px;
    right: -14px;
}

/* About */

.about {
    padding: 100px 0;
    background: #fff;
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 100px;
}

.about__thumb {
    margin-left: -75px;
}

.about__img {
    width: 575px;
    height: 706px;
    object-fit: cover;
}

.about__heading {
    text-transform: capitalize;
    margin-bottom: 24px;
}

.about__desc {
    margin-bottom: 54px;
}

/* works */

.works {
    padding: 100px 0;
}

.works__heading {
    text-align: center;
}

.works__desc {
    margin-top: 18px;
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: capitalize;
}

.works__inner {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 130px;
}

.works__list {
    display: flex;
    flex-direction: column;
}

.works__item {
    position: relative;
    width: 470px;
    padding-bottom: 24px;
}
.works__item + .works__item {
    margin-top: 43px;
}
.works__item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #828282;
    bottom: 0;
}
.works__step {
    color: #828282;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.8px;
}

.works__heading {
    margin-top: 12px;
    margin-bottom: 20px;
}

.works__item__desc {
    margin-top: 20px;
    color: var(--gray, #373739);

    /* 18 */
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: -0.36px;
}

.works__thumb {
    pa-right: -75px;
}

.works__img {
    width: 645px;
    height: 827px;
}

/* projects */
.projects {
    padding: 100px 0;
    background: var(--black, #22201f);
    overflow: hidden;
    /* clip-path: inset(0); */
}

.projects__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projects__heading {
    color: #fff;
    text-transform: capitalize;
}
.project__desc {
    width: 570px;
    margin-top: 24px;
    color: var(--gray-white, #d6d8d9);
}
.projects__action {
    border-color: #d6d8d9;
    color: #d6d8d9;
}

.projects__list {
    position: relative;
    margin-top: 60px;
    display: flex;
    column-gap: 50px;
}

.projects__item:hover .projects__img {
    transform: scale(1.1);
}
.projects__item:nth-child(n + 3) {
    opacity: 0.7;
}

.projects__thumb {
    width: 470px;
    height: 350px;
    overflow: hidden;
}

.projects__img {
    width: 100%;
    height: 100%;
    transition: 0.25s;
    object-fit: cover;
    display: block;
}

.projects__item__info {
    width: 430px;
}

.projects__item__title {
    width: 100%;
    margin-top: 38px;
    color: #fff;
}

.projects__item__desc {
    width: 100%;
    color: var(--gray-white, #d6d8d9);
}

.project__icon {
    position: absolute;
    top: 112px;
    right: 87px;
    transition: 0.25s;
}
.project__icon:hover {
    cursor: pointer;
}
/*  */
.services {
    padding: 100px 0;
    background: #fff;
}

.services__heading {
    text-align: center;
    margin-bottom: 24px;
}

.services__desc {
    width: 770px;
    text-align: center;
    margin: 0 auto;
}

.services__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}

.services__item {
    width: 100%;
    text-align: center;
}

.services__item__title {
    margin-top: 52px;
    color: var(--black, #22201f);
    text-align: center;

    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.333; /* 133.333% */
    letter-spacing: -0.72px;
}

.services__item__desc {
    color: var(--white-gray-2, #828282);
    text-align: center;
}

/*  */
.review {
    padding: 100px 0;
}

.review__inner {
    display: flex;
    column-gap: 130px;
}

.review__thumb {
    margin-top: 115px;
}

.review__img {
    margin-left: -150px;
    width: 605px;
    height: 729px;
    object-fit: cover;
}

.review__heading {
    text-transform: capitalize;
    margin-bottom: 34px;
}

.review__quote {
    width: 570px;
    text-align: left;
    letter-spacing: -0.1px;
}

.review__star {
    margin-top: 46px;
}

.review__author {
    margin-top: 10px;
    color: var(--black, #22201f);
    font-family: Inter;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.357; /* 135.714% */
    letter-spacing: -0.56px;
}
.review__controls {
    margin-top: 26px;
    display: flex;
    column-gap: 18px;
}
.review__control {
    border: none;
    background: transparent;
}

.review__control:hover {
    opacity: 0.9;
    color: #828282;
    cursor: pointer;
}

.review__control__back {
    rotate: 180deg;
}

/* achievements */
.achievements {
    padding: 100px 0;
    background: #22201f;
}

.achievements__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.achievements__heading {
    width: 574px;
    color: var(--white, #fff);
    text-transform: capitalize;
}

.achievements__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 54px;
    column-gap: 100px;
}

.achievements__item__stats {
    color: var(--white, #fff);
    font-size: 5.8rem;
    font-weight: 600;
    line-height: 1.172; /* 117.241% */
    letter-spacing: -1.16px;
}

.achievements__item__title {
    margin-top: 14px;
    color: var(--gray-white, #d6d8d9);
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.357; /* 135.714% */
    letter-spacing: -1.12px;
}
/* tranding */
.tranding {
    padding: 100px 0;
    overflow: hidden;
}

.tranding__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tranding__list {
    margin-top: 60px;
    display: flex;
    column-gap: 50px;
}

.tranding__item:nth-child(n + 3) {
    opacity: 0.7;
}

.tranding__item:hover .tranding__item__img {
    transform: scale(1.1);
}

.tranding__item__thumb {
    overflow: hidden;
}

.tranding__item__img {
    display: block;
    width: 470px;
    height: 350px;
    object-fit: cover;
    transition: 0.25s;
}

.tranding__item__date {
    display: block;
    margin-top: 24px;
    color: var(--white-gray-2, #828282);
    line-height: 1; /* 100% */
    letter-spacing: -0.8px;
}

.tranding__item__title {
    margin-top: 14px;
    color: var(--black, #22201f);

    /* 36 */
    font-family: Inter;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.333; /* 133.333% */
    letter-spacing: -0.72px;
}

.tranding__item__desc {
    margin-top: 18px;
    color: var(--gray, #373739);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
    letter-spacing: -0.36px;
}

.tranding__action {
    margin-top: 30px;
    color: var(--black, #22201f);

    /* 20 medium */
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;

    letter-spacing: -0.8px;
}
.tranding__action:hover {
    opacity: 0.7;
}
