* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --primary-color-bg: #fffaf5;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--primary-color-bg);
}

/* Common */
a {
    text-decoration: none;
}
